<dal name="hotel_data_etl_dal.config">
	<databaseSets>
		<databaseSet name="PublicDB" provider="sqlProvider">
            <add name="PublicDB" databaseType="Master" sharding="" connectionString="DWHTL_PublicDB_BIWR"/>
            <!-- <add name="PublicDB" databaseType="Master" sharding="" connectionString="DWHTL_TestPublicDB_BIWR"/>-->
		</databaseSet> 
	</databaseSets>
	 <LogListener enabled="true">
        <logger>com.ctrip.platform.dal.sql.logging.CtripDalLogger</logger>
        <settings>
            <encrypt>false</encrypt>
            <simplified>true</simplified>
        </settings>
    </LogListener>
    <ConnectionLocator>
      <settings>
         <useLocalConfig>true</useLocalConfig>
		 <dataSourceConfigureProvider>com.ctrip.datasource.titan.TitanProvider</dataSourceConfigureProvider>
	  </settings> 
  </ConnectionLocator>
 <!--   
 <TaskFactory>
        <factory>com.ctrip.platform.dal.dao.CtripTaskFactory</factory>
    </TaskFactory> -->
</dal>
